.container-content {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.home-input {
  border: 1px solid black;
  border-radius: 10px;
  height: 20px;
  padding: 5px;
  width: 700px;
}

.home-input:focus {
  box-shadow: 0 0 1px 3px rgb(214, 214, 214);
}

.cart-img {
  left: 10px;
  position: relative;
  top: 12px;
}

.Button-Search {
  border: 1px solid black;
  border-radius: 10px;
  height: 30px;
  margin: 5px;
  padding: 5px;
  width: 70px;
}

.container-card {
  border: 2px solid red;
}

.categories-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  width: 18%;
}

